@import "tailwindcss";

.heightMax {
  height: calc(100vh - 76px);
}

.blur-background {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 490px) {
  .removeResp {
    display: none;
  }
}
/* 
.heighttbf {
  min-height: 75%;
} */
